@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply  text-subtitle leading-[17.76px] pl-[31.5px] pr-[29.5px] py-[15px] uppercase transition-all duration-300
  } 
  .btn-primary {
    @apply bg-[#D87D4A] hover:bg-[#FBAF85] text-white
  }
  .btn-secondary {
    @apply  text-black hover:bg-black hover:text-white border border-black
  }
  .btn-secondary-inverted {
    @apply  bg-black hover:bg-[#4C4C4C] text-white 
  }
  .btn-ghost {
    @apply text-black text-opacity-50 hover:text-[#D87D4A] hover:text-opacity-100
  }
  .input {
    @apply w-full text-[0.875rem] leading-[19.12px] tracking-[-0.25px] text-black placeholder:font-bold placeholder:tracking-[-0.25px] placeholder:text-opacity-40 rounded-lg border border-[#CFCFCF] pt-[18px] pb-[19px] px-6 outline-none shadow-none focus-within:border-[#D87D4A] 
  }
  .input-error {
    @apply border-[#CD2C2C] border-2 focus-within:border-[#CD2C2C]
  }
  .input-label {
    @apply text-[0.75rem] font-bold tracking-[-0.21px] text-black
  }
}

.cercles {
  background-image: url(/assets/home/desktop/pattern-circles.svg);
  background-position-x: center;
  background-position-y: -120px;
  background-repeat: no-repeat;
}
